<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

  </head>
  <body>


    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="HomeComp">Pizzeria</a>
        </div>
        <ul class="nav navbar-nav">
          <li>  <img src="../assets/PizzeriaLogo.png" width=60px height=60px alt="" > </li>
          <li><a routerLink="OrderPizzaComp">Order Pizza</a></li>
          <li><a routerLink="BuildPizzaComp">Build Your Pizza</a></li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <li> <button style=" margin:15px " type="button" class="btn btn-warning"><span class="glyphicon glyphicon-th-list"></span> Your Kart</button></li>
          </ul>
      </div>
    </nav>

    <router-outlet></router-outlet>


  </body>
</html>
