
<div class="container-fluid" >

  <p>dsj fjernfv erjenrjke n</p>

  <table class="table " align="center" >
    <thead>
      <tr>
        <th>Indi</th>
        <th>Price</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let t of indiList">
        <td scope="row"> <img id="img" src="{{t.image}}" alt=""> </td>
        <td> <strong>{{t.tname}}     &#8377;{{t.price}}</strong></td>
        <td>  <input type="checkbox" name="Add" id="">  <label type="warning" >Add</label> </td>
      </tr>
    </tbody>
  </table>


</div>
