<div class="container-fluid">
  <h2 align= "center" >Our Story</h2>
  <p class="lead text-left container-fluid" >
    Pizza is a 2012 Indian Tamil mystery horror film written and directed by debutant Karthik Subbaraj. The film features Vijay Sethupathi and Remya Nambeesan in lead roles, while Aadukalam Naren, Jayakumar, Pooja Ramachandran and Bobby Simha play supporting roles. The story is about how a pizza delivery boy lands in a mysterious predicament and how it causes a dramatic change in his life. The film, produced by C. V. Kumaran, released by sangam cinemas a leading multiplex in Tamil Nadu and featuring music by Santhosh Narayanan, was the first Tamil film to feature 7.1 surround sound. Pizza released on 19 October 2012 and went on to become a major critical and commercial success. It was later dubbed into Telugu (as Pizza) and remade into Kannada as Whistle and in Hindi as Pizza. It is being remade in Bengali as Golpo Holeo Shotti
  </p>


    <div>
      <img src="../assets/indi.jpg" class="img-responsive col-md-4" alt="">
      <div class="container-fluid" >
        <h4> <u>Our Ingredients</u> </h4>
        <p class="text-left container-fluid">At Pizza Chef we not only make fantastic pizzas, we also offer wraps, sandwiches, salads, appetizers, sides, burgers, pasta and desserts, all made to perfection. Try one of our dinner platters. Located near Southbridge center, Pizza Chef's menu has everything you would look for, and nothing you would not. It's a great little spot and we treat the customer right, with fast delivery and great specials. Simon says, order Pizza Chef today!</p>
      </div>
    </div>

    <div>
        <div class="col-md-8" >
          <h4> <u>Our Chefs</u> </h4>
          <p class="text-left container-fluid">At Pizza Chef we not only make fantastic pizzas, we also offer wraps, sandwiches, salads, appetizers, sides, burgers, pasta and desserts, all made to perfection. Try one of our dinner platters. Located near Southbridge center, Pizza Chef's menu has everything you would look for, and nothing you would not. It's a great little spot and we treat the customer right, with fast delivery and great specials. Simon says, order Pizza Chef today!</p>
        </div>
        <div class="col-md-4">
            <img src="../assets/chef.jpg" class="img-responsive" alt="">
        </div>
    </div>


    <div >
        <div class="col-md-4">
            <img src="../assets/time.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-8" >
          <h4> <u>45 min delivery</u> </h4>
          <p  class="text-left container-fluid">At Pizza Chef we not only make fantastic pizzas, we also offer wraps, sandwiches, salads, appetizers, sides, burgers, pasta and desserts, all made to perfection. Try one of our dinner platters. Located near Southbridge center, Pizza Chef's menu has everything you would look for, and nothing you would not. It's a great little spot and we treat the customer right, with fast delivery and great specials. Simon says, order Pizza Chef today!</p>
        </div>
    </div>

</div>
